.heroTxt,
.heroImg {
  width: 100%;
}

.heroTxt h1 {
  font-family: "Prata", serif;
  color: #414141;
  margin: 0;
  padding-block: 0.75 rem;
}

.heroTxt p {
  margin: 0;
  font-weight: 500;
}

.heroTxt p.line {
  width: 2rem;
  height: 2px;
  background: #000;
}

@media screen and (width >=768px) {

  .heroTxt,
  .heroImg {
    width: 50%;
  }

  .heroTxt p.line {
    width: 2.75rem;
  }
}